$phone: 440px;
$tablet: 550px;
$desktop: 750px;

.input-adjust {
    display: flex;
    p {
        padding-left: 10px;
        padding-right: 10px;
    }
}

.input-adjust input {
    padding: 10px;
}

.MuiGrid-container.board-container{
    display: block ;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 1000px;
    padding-left: 30px;
    padding-right: 30px;

    .board-container-2 {
        .MuiBox-root {
            width: 100%;
            margin-bottom: 0px;
        }
    
        .MuiGrid-item {
            max-width: 100%;
            padding-left: 0px;
            padding-top: 0px;
        }
    
        .MuiButtonBase-root {
            border-radius: 0px !important;
            border: 1px solid #999;

            .MuiBox-root {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px;
            }
    
        }

        .MuiSvgIcon-root {
            path {
                fill: white;
            }
        }

        .MuiTypography-root  {
            background: #222;
            color: white;
            width: 100%;
            padding-top: 10px;
            padding-bottom: 10px;
            border: 1px solid #999;
        }
    }

}

.toolbar {
    margin-bottom: 60px;
    .MuiGrid-root {
        grid-template-columns: repeat(3, 1fr) !important;
    }
    .MuiGrid-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 100%;
    }
}

#app-root {
    background: #111;
    @media screen and (max-width: 767px) {
        padding-top: 40px;
    }
}

@media screen and (max-width: 767px) {

    .board-container .MuiGrid-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr) !important;
        margin-left: auto;
    }

    .board-container {
        height: 100%;
    }

    .toolbar {
        margin-bottom: 45px;
        .MuiGrid-root {
            grid-template-columns: repeat(3, 1fr) !important;
            margin-left: 0px;
        }
    }
}

.board-container {
    .MuiGrid-container {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        margin-left: 0px !important;
        margin-top: 0px !important;
        width: 100% !important;
    }
    .MuiGrid-container.MuiGrid-spacing-xs-2 {
        display: block !important;
    }
}

  
  .MuiGrid-container.board-container .board-container-2 .MuiButtonBase-root {
    flex-wrap: wrap;
  }
  .MuiGrid-container.board-container .board-container-2 .MuiBox-root {
    border-radius: 0px;
  }
  .MuiBox-root label {
    padding-top: 58px;
    padding-bottom: 20px;
  }
  .css-zow5z4-MuiGrid-root,
  .css-13l0051-MuiGrid-root {
    margin-left: 0px !important;
    margin-top: 0px !important;
    width: 100% !important;
  }
  
  .board-container .MuiGrid-container {
    grid-template-columns: repeat(7, 1fr) !important
  }
  
  .MuiGrid-container.board-container .board-container-2 .MuiTypography-root {
    text-align: center;
  }
  
.css-dbz9x3-MuiButtonBase-root-MuiButton-root.player-button {
    height: 145px;
}

  .css-16lc4fp {
    height: 130px !important;
  }